# Node
node_modules/
npm-debug.log*
pnpm-debug.log*
dist/

# Build outputs
.next/
build/

# Env / secrets
.env
server/.env

# DB
prisma/*.db
prisma/*.db-journal
prisma/dev.db*

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
